.card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 24px;
    max-width: 300px; /* Define a largura máxima do card */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);

  }
  
  .card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 150px; /* Define a altura máxima da imagem */
  }
  
  .card-content {
    padding: 16px;
  }
  
  .card-title {
    font-size: 20px; /* Reduz a fonte do título */
    margin-bottom: 8px;
  }
  
  .card-text {
    font-size: 14px; /* Reduz a fonte do texto */
    margin-bottom: 16px;
  }
  
  .card-button {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #2196f3;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 14px; /* Reduz a fonte do botão */
  }
  
  .card-button:hover {
    background-color: #0d8bf2;
  }
  
  @media only screen and (min-width: 768px) {
    .card {
      max-width: 500px; /* Define a largura máxima do card para telas maiores */
    }
  
    .card-image {
      max-height: 200px; /* Define a altura máxima da imagem para telas maiores */
    }
  
    .card-content {
      padding: 32px;
    }
  
    .card-title {
      font-size: 24px;
      margin-bottom: 16px;
    }
  
    .card-text {
      font-size: 16px;
      margin-bottom: 32px;
    }
  
    .card-button {
      font-size: 16px;
    }
  }
  