.inputCardone {
    width: 426px;
    min-width: 200px;
    margin-bottom: 10px;
    background: rgb(255, 255, 255);
    border: none;
    outline: none;
    padding: 15px;
    font-size: 16px;
    color: #1c0235;
    border-radius: 6px;
    transition: .5s;
    position: relative;
    margin-top: 12px;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.5);

}
.conteudo-form-cardOne {
    text-align: center;
    position: relative;
    top: 65px;
 }

#btn-cardone {
    width: 400px;
    padding: .6em 2em;
    cursor: pointer;
    background: linear-gradient(90deg, #3f0d6e 50%, #b355df44 100%);
    color: #fff;
    border-radius: 6px;
    border: none; 
    box-shadow: 0px 0px 20px 1px rgba(43, 41, 41, 0.5);
    position: relative;
    transition: 0.5s;
    margin-top: 35px;
    font-size: 16px;
    height: 48px;
}

#btn-create-account {
    width: 400px;
    padding: .6em 2em;
    cursor: pointer;
    background: linear-gradient(90deg, #3f0d6e 50%, #b355df44 100%);
    color: #fff;
    border-radius: 6px;
    border: none; 
    box-shadow: 0px 0px 20px 1px rgba(43, 41, 41, 0.5);
    position: relative;
    transition: 0.5s;
    margin-top: 100px;
    font-size: 16px;
    height: 48px;
}

.h1-cardOne {
    color: white;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}

.href-form-cardone {
    position: relative;
    display: flex;
    top: 75px;
    left: 200px;
    color: white;
}

.hr-form-signin {
    position: relative;
    top: 25px;
    width: 91%;
    left: 23px;
}