.inputcard-change-account {
    width: 426px;
    min-width: 200px;
    background: rgb(255, 255, 255);
    border: none;
    outline: none;
    padding: 15px;
    font-size: 16px;
    color: #1c0235;
    border-radius: 6px;
    transition: .5s;
    position: relative;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.5);
}

.container-main-changepassword {
    position: relative;
    bottom: 58px;
}

.conteudo-form-card-change-account {
    margin-top: 30px;
}

#btn-card-change-account {
    width: 400px;
    padding: .6em 2em;
    cursor: pointer;
    background: linear-gradient(90deg, #3f0d6e 50%, #b355df44 100%);
    color: #fff;
    border-radius: 6px;
    border: none; 
    box-shadow: 0px 0px 20px 1px rgba(43, 41, 41, 0.5);
    position: relative;
    transition: 0.5s;
    margin-top: 25px;
    font-size: 16px;
    height: 48px;
}

#btn-change-account {
    width: 400px;
    padding: .6em 2em;
    cursor: pointer;
    background: linear-gradient(90deg, #3f0d6e 50%, #b355df44 100%);
    color: #fff;
    border-radius: 6px;
    border: none; 
    box-shadow: 0px 0px 20px 1px rgba(43, 41, 41, 0.5);
    position: relative;
    transition: 0.5s;
    margin-top: 73px;
    font-size: 16px;
    height: 48px;
}

.h1-card-change-account {
    color: white;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    position: relative;
    top: 1vh;
}

.href-chage-password {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 70px;
    color: white;
}

.hr-form-change-account {
    position: relative;
    top: 7px;
    width: 91%;
    left: 23px;
}

.main-card-change-account {
   text-align: center;
   position: relative;
   top: 100px;
}

.p-form-change-account {
    position: relative;
    bottom: 30px;
}
